body * {
  font-family: 'Inter', sans-serif;
}

/* common */
.cinta_nove {
  width: 95%;
  margin: auto;
}

.cinta_otto {
  width: 85%;
  margin: auto;
}

.cinta_sette {
    width: 75%;
    margin: auto;
}

.back_white {
  background-color: white;
}

.back_grey {
  background-color: #F3F5F9;
}

.padding_top_five {
  padding-top: 5px;
}

h3 {
  font-size: 14px !important;
  line-height: 120% !important;
}

.text_white {
  color: white;
}

.text_grey {
  color: #5b6987
}

.medium_p {
  margin-bottom: 75px;
  font-size: 20px;
  line-height: 34px;
  vertical-align: baseline;
  letter-spacing: -1px;
}

.small_p {
  font-size: 12px;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

a:hover {
  color: #006AFF !important;
}

.blue_button {
  padding: 5px;
  color: white;
  font-weight: bold;
  background-color: #006AFF;
  border: none;
  border-radius: 5px;
}

/* HEADER */
header {
  background-image: url(../img/jumbo.svg);
}

/* nav */
.top_nav_bar {
  background-color: white;
  padding-top: 15px;
}

.logo_home img {
  width: 150px;
  padding-top: 2px;
}

header nav {
  font-size: 13px;
}

/*  jumbotron */
.jumbot h1 {
  margin-top: 80px;
  font-size: 58px !important;
  font-weight: bold !important;
  line-height: 69.6px;
  vertical-align: baseline;
  letter-spacing: -1px;
}

.text_jumbot {
  margin-bottom: 75px;
  font-size: 24px;
  line-height: 36px;
  vertical-align: baseline;
}

.form_box {
  margin: 75px 0;
  padding: 20px 15px;
  border-radius: 5px;
}

h2 > span {
  color: #006AFF;
}

#crea_account {
  color: white;
  background-color: #006AFF;
}

#sign_google {
  position: relative;
}

#sign_google img {
  width: 20px;
  text-align: left !important;
  vertical-align: middle;
  position: absolute;
  left: 5px;
}

/* section collaborazioni */
#collaborazioni {
  padding: 30px 0;
}

#collaborazioni h3 {
  color: #5b6987;
}

.blocco_logo {
  height: 90px;
  line-height: 77px;
  vertical-align:  middle;
}

.blocco_logo img {
  width: 100%;
  height: 100%;
}

/* SECTION DEPLOY */
.blocco_deploy {
  margin: 40px 0;
}

#deploy ul li {
  list-style-type: none;
  padding-left: 10px;
  line-height: 40px;
  border-left: solid 2px lightgrey;
}

#deploy ul li:hover {
  border-left: solid 2px #006AFF;
}

#deploy ul li a:hover {
  color: black !important;
}
